header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    background: #333;
    color: #fff;
}
nav {
    background-color: #333;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  nav button {
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 8px 16px;
  }
  
  body {
    background-color: #222;
    color: #fff;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  
  img.centre {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  ul {
    padding-left: 20px;
    margin-bottom: 10px;
  }
  
  ul li {
    list-style-type: disc;
  }
  
  footer {
    background-color: #111;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
  }
  